.app {
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.app-header {
  background-color: #222;
  height: 40px;
  line-height: 40px;
  padding: 10px;
  color: white;
  font-size: 25px;
}
.app-header h2 {
  display: inline-block;
  font-size: 20px;
}

.contacts-container,
.messages-container {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  padding: 10px;
  overflow: auto;
}

.contacts-container {
  width: 256px;
  max-width: 256px;
  background-color: #f1f1f1;
}

.messages-container {
  right: 0;
  left: 276px;
}

.message-list {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 85px;
}

.message-box {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
